/* Universal Selector - Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selector */
h2 {
    text-align: center;
    color: darkblue;
    margin: 20px 0;
}

/* ID Selector */
#mainHeader {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Class Selector */
.eventCard {
    background-color: #f4f4f4;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
}

/* Grouping Selector */
h3, p {
    font-family: Arial;
    color: #333;
}